<!DOCTYPE html>
<html>
<head>
    <title>Загрузка файла</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>

    {% with messages = get_flashed_messages(with_categories=True) %}
        {% if messages %}
            {% for category, message in messages %}
                {% if category == 'error' %}
                    <div class="error_message">{{ message }}</div>
                {% elif category == 'success' %}
                    <div class="success_message">{{ message }}</div>
                {% elif category == 'info' %}
                    <div class="info_message">{{ message }}</div>
                {% else %}
                    <div>{{ message }}</div>
                {% endif %}
            {% endfor %}
        {% endif %}
    {% endwith %}

    <h1>Загрузите файл</h1>
    <form method="POST" enctype="multipart/form-data">
        <input type="file" name="file">
        <button type="submit">Upload</button>
    </form>
</body>
</html>